.wrapper {
    .content {
        text-align: center;
        padding: 35px 0px;
        border-bottom: 1px solid hsla(0, 0%, 6%, 0.15);

        .title {
            text-transform: capitalize;
            font-size: 6.5rem;
            color: var(--black);
            font-weight: 600;
        }
        .breadcrumb {
            width: 100%;
            font-size: 1.4rem;
            font-weight: 400;

            .backPage {
                color: var(--black);
                text-decoration: none;
                text-transform: capitalize;
            }
            .delimiter {
                color: var(--grey);
                margin: 0px 8px;
            }
            .currentPage {
                text-transform: capitalize;
                color: var(--grey);
            }
        }

        &.shop {
            padding-top: 125px;
            margin-bottom: 50px;
            padding-bottom: 45px;
            background-position: 50%;
            background-size: cover;

            @media screen and (max-width: 992px) {
                padding-top: 45px;
            }

            .title {
                color: var(--white);
            }

            .backPage,
            .delimiter,
            .currentPage {
                color: var(--white);
            }
        }
    }
}
