.wrapper {
    .content {
        padding: 20px;
        padding-left: 100px;
        position: relative;

        @media screen and (max-width: 992px) {
            padding-left: 20px;

            .maps{
                iframe{
                    width: 100%;
                }
            }

            div.info{
                width: 100%;
                min-width: 0;
                margin-top: 30px;
                position: unset;
                background-color: var(--gray);
                transform: unset;
            }
        }

        @media screen and (max-width: 768px) {
            div.info{
                text-align: center;
            }
        }

        .maps {
        }

        .info {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 205px;
            z-index: 1;
            padding: 50px;
            background-color: var(--white);
            min-width: calc(470px + 50px * 2);

            .info-heading {
                h3 {
                    font-size: 30px;
                    text-transform: uppercase;
                    font-weight: 500;
                    line-height: 1;
                    font-family: Cormorant Garamond, serif;
                    margin-bottom: 15px;
                }
                p {
                    font-size: 1.4rem;
                    font-weight: 400;
                    line-height: 2;
                    color: var(--grey);
                    margin-bottom: 40px;
                }
            }
            .info-item {
                .item {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    flex-direction: column;

                    & + .item {
                        margin-top: 25px;
                    }

                    .sign {
                        font-size: 2.2rem;
                        color: var(--white);
                        padding: 22px;
                        border-radius: 50%;
                        background-color: var(--hover-color);
                        max-width: 60px;
                        max-height: 60px;
                        text-align: center;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    .text {
                        line-height: 22px;

                        h5 {
                            text-transform: capitalize;
                            color: var(--black);
                            font-weight: 600;
                        }

                        span {
                            font-size: 1.4rem;
                            font-weight: 400;
                            line-height: 2;
                            color: var(--grey);
                        }
                    }
                }
            }
        }
    }
}
