.wrapper {
    background: #fff;
    color: #000;
    padding-top: 90px;
    margin: 0px 45px;

    .close {
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: 500;
        font-family: Cormorant Garamond, serif;
        cursor: pointer;

        &:hover {
            color: var(--hover-color);
        }
    }

    .search-bar {
        border-bottom: 2px solid #000;
        
        input[name='search'] {
            border: 0;
            padding: 0;
            line-height: 50px;
            width: 100%;
            color: #000;
            font-size: 4rem;
            font-weight: 500;
            padding-bottom: 20px;
            outline: none;
        }

        .btn-search{
            outline: none;
            border: unset;
            font-size: 2.5rem;
            
            a{
                color: var(--black);
            }

            &:hover a{
                color: var(--hover-color);
                transition: all .2s ease-in;
            }
        }
    }
}
